<?xml version="1.0"?>

<!-- EL siguiente archivo corresponde unicamente al controlador absoluto del disenho del robot -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ntarobot">
    <!-- Importe de secciones creadas -->
    <!-- Importe de nucleo de disenho xacro (incluye materiales, calculo de inercia y dimensiones)-->
    <xacro:include filename="$(find ntarobot_urdf)/urdf/ntarobot_core.xacro"/>
    <!-- Importe de descripcion xacro de gazebo -->
    <xacro:include filename="$(find ntarobot_urdf)/urdf/ntarobot_gazebo.xacro"/>
    <!-- Importe de archivo xacro para visualizacion en gazebo -->
    <xacro:include filename="$(find ntarobot_urdf)/urdf/ntarobot_ros_control.xacro"/>
</robot>